.headerfilter {
    /* justify-content: center; */
    /* width: 338px; */
    /* height: 50px; */
    left: 284px;
    top: 35px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
    text-align: center;
}
.refineline{
    color: black;
    border: 0;
    border-top: 1px solid;
    opacity: 1.25;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -10px;
}
.ml-3 {
    margin-left: 3%;
}
.Filtertxt {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 41px;
    color: #000000;
    margin-left: 2%;
}
i.bi.bi-house-door-fill {
    border: 1px solid;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    padding: 2px;
    padding-left: 6px;
}
form {
    padding-left: 3rem;
}
.bi.bi-cash-coin{
    border: 1px solid;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    padding: 2px;
    padding-left: 6px;
}
.Ranger {
    margin-left: 13%;
    margin-right: 10%;
}
.searchmodal{
    z-index: 1000;
}
.convenience {
    border: 1px solid;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    padding: 2px;
    padding-left: 3px;
}
span.riceranger{
    padding: 10px 20px 10px 20px;
}
.bi.bi-buildings{
    border: 1px solid;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    padding: 2px;
    padding-left: 6px;
}
.typebtn{
    border: 1px solid;
    display: block;
    height: 42px;
}
.property-type-list{
    display: flex;
    flex-wrap: wrap;
}
.property-type-list .list-group-item{
    border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color)!important;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 0% !important;
}
.property-type-list li button{
background: transparent;
border: 0;
display: flex;
}
.coveniencehead{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 41px;
    color: #000000;
    margin-bottom: 0;

}
.bed {
    border: 1px solid;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    padding: 2px;
    padding-left: 3px;
}
.filtermodal{
        max-height: 642px;
        overflow-y: auto;
   
}
.Roomandbedstxt{
    padding-left: 45px;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 37px;

}
.Roomandbedtype {
    cursor: pointer;
    background-color: #B4EBF9;
    width: 40px;
    /* padding-left: 5px; */
    /* padding: 5px; */
    border-radius: 10px;
    padding-top: 4px;
    height: 35px;
    justify-content: center;
    text-align: center;
}
.instantbooktxt{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 26px;
    padding-left: 46px;
}
.switchbtn{
    height: fit-content;
}